@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<h4>
    Hometown Zoo is a hypothetical zoo that has been created as an ASP.NET advanced class project.<br />
    The zoo will potentially have features to :
</h4>
<p>
    •	Post animal <br />
    •	Search <br />
    •	Feeding times <br />
    •	Ads <br />
    •	Zoo details ( hrs/ location / contact/ prices) <br />
    •	Post animals and biography's; with pictures <br />
    •	User Profile <br />
    •	Favorite animals and favorite exhibits <br />
    •	Donations <br />
    •	Blog <br />
    •	Preorder Tickets <br />
    •	Email (SendGrid through Azure) <br />
    •	Schedule for Events <br />
    •	Upcoming attractions <br />
    •	Social Media <br />
    •	Zoo Schedule (Hours/Location/Contact) <br />
    •	Jobs/Internships <br />
    •	Contact <br />
    •	Live Feed (Cameras) <br />
    •	Link for users to provide feedback <br />
    <br />
    REQUIREMENTS <br />
    •	Database (SQL Server) <br />
    •	SMTP Server (Sending emails, we will use SendGrid) <br />
    •	Users table for profile info <br />
    •	Animals table <br />
    •	User favorite animals <br />
    •	User favorite species <br />
    <br />
    DATABASE <br />
    •	User login <br />
    •	Animal favorite selection <br />
    •	Animals inventory <br />
</p>
