@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<h1>Hometown Zoo <br />
    Contact Us</h1>

<address>
    0000 Fake Street <br />
    Lakewood, WA 98499<br />
    <abbr title="Phone">P:</abbr>
    425.555.5555
</address>


